html, body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto';
}

h1 {
    font-size: 40px;
    color: cadetblue;
}


picture img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: darkgray;
}

a:link {
    color: darkgray;
}

a:hover {
    color: darkred;
}

ul {
    list-style: none;
}

#left-side {
    display: flex;
    max-width: 500px;

}

#right-side {
    background-color: lightgrey;
}


@media screen and (max-width: 768px) {
    #left-side {    
        flex-wrap: wrap;
        justify-content: center;
    }

    #profile-picture {
        flex: 0 0 auto;
    }
    
    #bio {
        flex: 0 0 300px;
        margin-left: 15px;
        margin-top: 25px;
    }
    /* Have title sitting on top by itself */
    #feature-title {

        flex: 0 0 400px;

    }

}

#nav-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#nav-list li {
    margin: 25px;
}



/* Table - 4 grid columns */
@media screen and (min-width: 768px) {

    body {
        height: 100vh;
    }

    #bio {
        margin-left: 15px;
        margin-top: 25px;
    }

    #grid-container {
        display: grid;
        grid-template-columns: 5fr, 1fr, 6fr, 1fr;
        grid-template-rows: repeat(12, 1fr);
    }

    #left-side {
        flex-direction: column;
        align-items: center;
        grid-column: 1 / 2;
        grid-row: 1 / 13;
        background-color: dimgrey;
    }

    #right-side {
        grid-column: 3 / 4;
        grid-row: 2 / 6;
    }

    #nav-footer{
        grid-column: 3 / 4;
        grid-row: 8 / 9;
    }

    #last-fr {
        grid-column: 4 / 5;
        background-color: #fff;
    }

}


/* Desktop - 5 grid columns */
@media screen and (min-width: 1024px) {
    #grid-container {
        display: grid;
        grid-template-columns: 2fr, 2fr, 1fr, 4fr, 3fr;
        grid-template-rows: repeat(10, 1fr);
    }

    #left-side {

        flex-direction: column;
        grid-column: 2 / 3;
        grid-row: 1 / 7;
        background-color: dimgrey;
    }

    #right-side {
        grid-column: 4 / 5;
        grid-row: 5 / 9;
    }


    #last-fr {
        grid-column: 5 / 6;
        background-color: #fff;
    }


}