
/* Add margin to title area */
#title-box {
    width: 100vw;
    background-color: #333333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#title-box h1 {
    margin-left: 15px;
    color: #F2F2F2;
    letter-spacing: 1rem;
    padding-top: 10px;
}

#title-box p {
    margin-left: 15px;
    margin-right: 15px;
    color: #F2F2F2;
}

/* Max dimensions to normalise image size and help with layout */
img {
    max-width: 320px;
    max-height: 180px;
}

/* Make flex container so child elements are responsive */
#flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Styling for blog card */
.blog-card {
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(186, 126, 126, 0.5);
    padding: 5px;
    /* flex 0 1 360px so min width is 360px and elements do not grow with size of screen */
    flex: 0 1 360px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Make Blog card stick out when user hovers */
.blog-card :hover {
    border-radius: 10px;
    box-shadow: 10px 10px 25px rgba(186, 126, 126, 0.5);
    padding: 5px;
}


time {
    color: #333333;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

/* On Mobile don't show blog preview */
.blog-preview {
    display: none;
}

/* On larger screens show blog preview */
@media screen and (min-width: 767px) {

    .blog-preview {
        display: inline;
    }

}