nav {
    width: 100%;
    text-align: center;
}

ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

li {
    font-size: clamp(18px, 2.5vw, 2rem);
    margin-left: 2vw;
    margin-right: 2vw;
}

img {
    max-width: 320px;
    max-height: 180px;
}

#flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blog-card {
    border: solid darkgray;
    flex: 0 1 360px;
    margin: 5px;
}

.blog-preview {
    display: none;
}

@media screen and (min-width: 768px) {

    .blog-preview {
        display: inline;
    }

}