#parent {
    height: 100vh;
    display: grid;
    align-items: center;
}
#landing-grid {
    display: grid;
    place-items: center;
}

#profile img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

#link-list {
    max-width: 50%;
    font-size: 5vh;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    text-align: center;
    margin: 15px, 10px;
    padding: 10px;
}


