
#landing-grid {
    display: grid;
    place-items: center;
}

header {
    grid-row: 1 / 2;
}

picture {
    grid-row: 2 / 3;
}

#profile img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

#link-list {
    max-width: 50%;
    grid-row: 3 / 4;
    font-size: 5vh;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    text-align: center;
    margin: 15px, 10px;
    padding: 10px;
}


