/* reset padding and margins to 0, set bg color for site */
html, body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto';
    background-color: rgb(240, 240, 240);
}

/* Create consistent link style for whole site */
a {
    text-decoration: none;
    color: darkgray;
}

a:link {
    color: darkgray;
}

/* Links go dark red on hover */
a:hover {
    color: darkred;
}

/* Remove bullets from lists */
li {
    list-style: none;
}

/* Consistent nav bar style, 100% width with flex and centered elements, keep all on same row */
#nav-list {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#nav-list ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

/* clamp size used so when page size increases so does the size of link text */
#nav-list li {
    font-size: clamp(24px, 2.5vw, 2rem);
    margin-left: 2vw;
    margin-right: 2vw;
}


